@import "tailwindcss";

* {
    font-family: Poppins;
}

body {
    background-color: #FEF6EC;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
